.c-button {
   &--global-menu {
      position: absolute;
      top: 15px;
      right: 15px;
      @include breakpoint ( pc ) {
         display: none;
      }
      > img {
         width: 51px;
         height: 26px;
      }
   }
   &--cross {
      position: absolute;
      top: 20px;
      right: 10px;
      width: 40px;
      height: 40px;
      @include breakpoint ( pc ) {
         display: none;
      }
      > span {
         background-color: rgb(117, 117, 117);
         display: flex;
         height: 5px;
         width: 100%;
      }
      span:nth-child(1) {
         // background-color: gold;
         transform: rotate(45deg) translateX(1px) translateY(2px);
      }
      span:nth-child(2) {
         // background-color: red;
         transform: rotate(-45deg) translateX(1px) translateY(-2px);
      }
   }
   // ==================================================================
   // archive & archive_search
   // ==================================================================
   &--see-details {
      width: 200px;
      height: 50px;
      background-color: white;
      border-radius: 30px;
      font-weight: bold;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 20px;
   }
   // ==============================================================
   // single & page
   // ==============================================================
   &--large {
      margin-top: 30px;
      border: solid 1px rgb(128, 127, 127);
      border-radius: 20px;
      width: 100%;
      height: 65px;
      background-color: rgba(211, 211, 211, 0.5);
      color: rgb(128, 127, 127);
      @include breakpoint ( tablet ) {
         width: 40%;
      }
   }
}