.c-text {
   // ==============================================
   // archive
   // ==============================================
   &--menus-catch {
      padding-top: 10px;
      padding-left: 10px;
   }
   &--menu-unit {
      color: white;
      margin-top: 10px;
   }
   // ==============================================
   // single
   // ==============================================
   &--under-h2 {
   }
   &--blockquote {
      margin-bottom: 100px;
   }
   &--blockquote-source {
   }
   &--card {
      padding: 0 10px;
   }
   &--bold {
      margin-top: 30px;
      margin-bottom: 80px;
   }
}