.l-aside {
}
.p-aside {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0px;
   left: 100%;
   z-index: 100;
   transition: all .3s;
   @include breakpoint ( pc ) {
      position: initial;
      grid-area: 1 / 2 / 2 / 3;
   }
   @import "../object/project/global-menu";
   &::-webkit-scrollbar {
      display: none;
   }
}

.is-open {
   left: 0;
   overflow: auto;
   position: fixed;
}