// base.scssにおいてc-wrap--headerMain
.l-header {
}
.p-header {
   &__inner {
      background-color: rgb(253, 239, 230);
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: relative;
      @include breakpoint ( tablet ) {
      }
      @include breakpoint ( pc ) {
         flex-direction: initial;
         justify-content: space-between;
         align-items: center;
         padding: 0 20px;
         height: 220px;
      }
      &__logo {
         width: 203px;
         height: 53px;
         margin: 0 auto;
         margin-top: 40px;
         @include breakpoint ( pc ) {
            width: 325px;
            height: 84px;
            margin: initial
         }
      }
      //c-button--global-menu
      @import "../object/component/button";
      //p-search-form u-margin--search-form
      @import "../object/project/search-form";
   }
}
