// base.scssã«c-wrap--headerMain
.l-main {
}
.p-main {
   // ===========================================
   // front-page
   // ===========================================
   &--front-page {
      width: 100%;
      height: 100%;
      @import "../object/project/discription";
      @import "../object/project/branch-menus";
      @import "../object/project/access";
   }  
   // ===========================================
   // archive & archive_search
   // ===========================================
   &--archive {
      width: 100%;
      height: 100%;  
      @import "../object/project/discription";
      @import "../object/project/menus-catch";
      @import "../object/project/menu-unit";
      
      .c-wrap--pagenation {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 70px;
         margin-bottom: 35px;
         @import "../object/project/current-total-pagenumber";
         @import "../object/project/pagenation";
      }
   }
   // ================================================
   // single & page
   // ================================================
   &--single {
      @import "../object/project/discription";
      &__contents {
         padding: 0 20px;
         > h2 {
            padding: 15px 0;
         }
         > h3 {
            padding: 15px 0;
         }
         > h4 {
            padding: 15px 0;
         }
         > h5 {
            padding: 15px 0;
         }
         > h6 {
            padding: 15px 0;
         }
         > p {
            padding: 15px 0;
         }
         .wp-block-quote {
            background-color: rgba(221, 219, 219, 0.233);
            padding: 40px 40px;
            > p {
               padding: 25px 0;
            }
         }
         .wp-block-gallery {
            background-color: skyblue;
            width: 100%;
            .blocks-gallery-grid {
               background-color: gold;
               width: 100%;
               display: flex;
               flex-wrap: wrap;
               .blocks-gallery-item  > figure > img {
                  height: initial;
                  @include breakpoint ( tablet ) {
                     width: calc(50vw - 5vw);
                     height: initial;
                  }
                  @include breakpoint ( pc ) {
                     width: calc(33vw - 5vw)
                  }
               }
            }
         }
         table {
            margin: 15px 0;
            border-collapse: collapse;
            tbody {
               width: 100%;
               border: solid 1px black;
               margin-top: 40px;
               tr {
                  height: 80px;
                  border: solid 1px black;
                  td {
                     border: solid 1px black;
                     padding-left: 30px;
                  }
                  td:nth-child(1) {
                     width: 40%;
                  }
                  td:nth-child(2) {
                     width: 60%;
                  }
               }
            }
         }
         .wp-block-buttons {
            padding: 15px 0;
            .wp-block-button {
               width: 100%;
               > a {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  height: 80px;
                  @include breakpoint ( pc ) {
                     width: 430px;
                     height: 100px;
                  }
               }
            }
         }





         @import "../object/component/headline";
         @import "../object/component/text";
         .p-blockquote {
            background-color: rgba(221, 219, 219, 0.233);
            margin-top: 20px;
            padding: 30px 10px;
            @import "../object/component/text";
         }
         .c-photo--wide {
            width: 100%;
            @include breakpoint ( pc ) {
               // height: 9%;
               // width: 100%;
               display: flex;
               justify-content: center;
            }
            > img {
               width:100%;
               margin-top: 40px;
            }
         }
         @import "../object/project/card";
         .c-photo--middle {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            > img {
               width: 85%;
            }
         }
         .c-tiles {
            width: 100%;
            list-style-type: none;
            @include breakpoint ( tablet ) {
               display: flex;
               flex-wrap: wrap;
               justify-content: space-between;
            }
            &__tile {
               width: 100%;
               margin-top: 20px;
               display: flex;

               @include breakpoint ( tablet ) {
                  width: calc(50% - 1.75%);
               }
               @include breakpoint ( pc ) {
                  width: calc(100% / 3 - 1%);
               }
               > img {
                  width: 100%;
               }
            }
         }
         .c-list {
            list-style-type: none;
            margin-top: 20px;
            &__item {
            }
         }
         .u-ml--20 {
            margin-left: 20px;
         }
         .u-mt--60 {
            margin-top: 60px;
         }
         pre {
            background-color: rgba(158, 158, 158, 0.164);
            padding: 50px 0;
            line-height: 22px;
            margin-top: 40px;
         }
         .p-table {
            width: 100%;
            border-collapse: collapse;
            border: solid 1px black;
            margin-top: 40px;
            tr {
               height: 80px;
               border: solid 1px black;
               td {
                  border: solid 1px black;
                  padding-left: 30px;
               }
               td:nth-child(1) {
                  width: 40%;
               }
               td:nth-child(2) {
                  width: 60%;
               }
            }
         }
         @import "../object/component/button";
         
      }
   }
}