// base.scssにc-wrap--headerMain
.l-main {
}
.p-main {
   // ===========================================
   // front-page
   // ===========================================
   &--front-page {
      width: 100%;
      height: 100%;
      @import "../object/project/discription";
      @import "../object/project/branch-menus";
      .p-map {
         height: 700px;
         position: relative;
         @include breakpoint ( tablet ) {
            height: 415px;
         }
         @include breakpoint ( pc ) {
            height: 650px;
         }
         iframe {
            position: absolute;
            width: 100%;
            height: 100%;
         }
         &__content {
            width: 100%;
            height: 100%;
            background-color:rgba(0, 0, 0, 0.575);
            position: absolute;
            z-index: 10;
            padding: 0 20px;
            @include breakpoint ( tablet ) {
               width: 100%;
            }
            @include breakpoint ( tablet ) {
               width: 60%;
            }
            > h3 {
               color: white;
               margin-top: 30px;
            }
            .c-underline {
               width: 75px;
               height: 2px;
               background-color: white;
               margin: 20px 0;
            }
            > p {
               color: white;
            }
         }
      }
   }  
   // ===========================================
   // archive & search
   // ===========================================
   &--archive {
      width: 100%;
      height: 100%;  
      @import "../object/project/discription";
      @import "../object/project/menus-catch";
      @import "../object/project/menu-unit";
      > p {//検索結果なし
         margin: 0 auto;
         padding: 50px 0;
         width: 80%;
         font-weight: bold;
         font-size: 1.7rem;
      }
      
      .c-wrap--pagenation {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin-top: 70px;
         margin-bottom: 35px;
         padding: 0 20px;
         @include breakpoint ( tablet ) {
            justify-content: center;
         }
         @import "../object/project/current-total-pagenumber";
         @import "../object/project/pagenation";
      }
   }
   // ================================================
   // single & page
   // ================================================
   &--single {
      @import "../object/project/discription";
      @import "../object/component/headline";
      .u-title {
         color: black;
         padding: initial;
         padding: 20px;

      }
      &__contents {
         padding: 0 20px;
         >img {
            flex: initial;
         }
         .sticky {
            padding: 20px;
            background: #f3f3f3;
         }
         > h2 {
            padding: 15px 0;
         }
         > h3 {
            padding: 15px 0;
         }
         > h4 {
            padding: 15px 0;
         }
         > h5 {
            padding: 15px 0;
         }
         > h6 {
            padding: 15px 0;
         }
         > p {
            padding: 15px 0;
         }
         .wp-block-quote {
            background-color: rgba(221, 219, 219, 0.233);
            padding: 40px 40px;
            > p {
               padding: 25px 0;
            }
         }
         .wp-block-image {
            > img {
               width: 100%;
               height: auto;
            }
         }
         .alignnone {
            width: 100% !important;
            height: auto;
            > img {
               width: 100%;
               height: auto;
            }
         }
         .wp-block-media-text__content {
            padding-top: 20px;
            padding-bottom: 20px;
         }
         .wp-caption {
            width: 100%;
            font-size: 1.3rem;
         }
         .wp-caption-text {
            padding: 5px;
         }
         .gallery-caption {
            font-size: 90%;
         }
         .wp-block-gallery {
            width: 100%;
            .blocks-gallery-grid {
               width: 100%;
               display: flex;
               .blocks-gallery-item {
                  display: flex;
                  flex-wrap: wrap;
                  flex-direction: initial;
                  width: 100%;
                  @include breakpoint ( tablet ) {
                     width: 50%;
                     padding: 0 1%;
                  }
                  @include breakpoint ( pc ) {
                     width: calc(100% / 3);
                  }
                  > figure {
                     width: 100%;
                     display: initial;
                     @include breakpoint ( tablet ) {
                        width: auto;
                        // width: calc(50vw - 5vw);
                        // width: 45%;
                        height: initial;
                     }
                     @include breakpoint ( pc ) {
                        // width: calc(100% / 3);
                     }
                     > img {
                        flex: initial;
                        display: flex;
                        width: 100%;
                     }
                  }
               }
            }
         }

         ol {
            padding: 30px 0;
            padding-left: 10px;
            li {
               
               ol {
                  padding-top: 10px;
                  padding-bottom: 10px;
                  padding-left: 15px;
                  li{

                  }
               }
            }
         }

         ul {
            padding: 30px 0;
            padding-left: 10px;
            list-style: none;
            li {
               ul {
                  padding-top: 10px;
                  padding-bottom: 10px;
                  padding-left: 15px;
                  li {

                  }
               }
            }
         }
         .wp-block-preformatted {
            background-color: rgba(189, 186, 186, 0.452);
            padding: 30px 0;
         }

         table {
            margin: 15px 0;
            border-collapse: collapse;
            tbody {
               width: 100%;
               border: solid 1px black;
               margin-top: 40px;
               tr {
                  height: 80px;
                  border: solid 1px black;
                  td {
                     border: solid 1px black;
                     padding-left: 30px;
                  }
                  td:nth-child(1) {
                     width: 40%;
                  }
                  td:nth-child(2) {
                     width: 60%;
                  }
               }
            }
         }
         .wp-block-buttons {
            padding: 15px 0;
            .wp-block-button {
               width: 100%;
               > a {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  height: 80px;
                  @include breakpoint ( pc ) {
                     width: 430px;
                     height: 100px;
                  }
               }
            }
         }
         .alignright {
            display: block;
            margin-left: auto;
         }
         .alignleft {
            display: block;
            margin-right: auto;
         }
         .aligncenter {
            display: block;
            margin: 0 auto;
         }
         @import "../object/component/button";
         .bypostauthor {
            background-color: silver;
         }
      }
   }
}